@{
    ViewData["Title"] = "Configurar Juego";
}
<div class="Configurar">
<form asp-action="Comenzar" method="post">
    <a href='@Url.Action("Index")' class="close-button"><img src="~/images/cruz.webp" alt=""></a>
    <h1>CONFIGURACIÓN</h1>
    <div class="form-group">
        <label for="username">Nombre </label>
        <input type="text" id="username" name="username" class="form-control" autocomplete="off" required />
    </div>
    <div class="form-group">
        <label for="dificultad">Dificultad </label>
        <select id="dificultad" name="dificultad" class="form-control" required>
            <option value="-1">Todas</option>
            @foreach (Dificultades dificultad in ViewBag.ListaDificultades)
            {
                <option value="@dificultad.IdDificultad">@dificultad.Nombre</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="categoria">Categoría </label>
        <select id="categoria" name="categoria" class="form-control" required>
            <option value="-1">Todas</option>
            @foreach (Categorias categoria in ViewBag.Categorias)
            {
                <option value="@categoria.IdCategoria">@categoria.Nombre</option>
            }
        </select>
    </div>
    <div class="btn-group">
    <button type="submit" class="btn">Enviar</button>
    <button type="reset" class="btn">Restablecer</button>
</div>

</form>
</div>