@{
    ViewData["Title"] = "Juego";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

    <div class="card text-bg-dark">
        <img src="~/images/@ViewBag.CategoriaImagen" class="card-img" alt="Categoría">
        <div class="card-img-overlay">
            <div class="info">
                <div class="datos">
                    <h3>@Juego.username -</h3>
                    <h5>Puntos: @Juego.puntajeActual</h5>
                    

                </div>
                <h4>Tiempo:  <span id="tiempo"></span></h4>
                <div class="container">
                    <div class="Pregunta">
                        <h6>Pregunta n°@ViewBag.PregJugar.IdPregunta</h6>
                        <h2>@ViewBag.PregJugar.Enunciado</h2>
                    </div>
                </div>
                <div class="container">
                    <form method="post" action='@Url.Action("VerificarRespuesta")'>
                    <div class="row row-cols-2">
                        @foreach (Respuesta rep in Juego.ObtenerProximasRespuestas(@ViewBag.PregJugar.IdPregunta)) {
                            <div class="col">
                                <button type="submit" name="idRespuesta" value="@rep.IdRespuesta" required>
                                <label for="flexRadioDefault1">@rep.Contenido</label>
                            </div>
                        }
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</html>

<script src="~/js/Timer.js"></script>