@{
    ViewData["Title"] = "Juego";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="card text-bg-dark">
    <img src="~/images/ciencia.png" class="card-img" alt="...">
    <!--<img src="~/images/ViewBag.Categorias[ViewBag.PregJugar.IdCategoria].Foto" class="card-img" alt="...">-->
    <div class="card-img-overlay">
    <div class="info">
        <div class= "datos">
            <h3>@Juego.username -</h3>
            <h5>Puntos: @Juego.puntajeActual</h5>
        </div>
        <div class="container">
        <div class= "Pregunta">
            <h6>Pregunta n°@ViewBag.PregJugar.IdPregunta</h6>
            <h2>@ViewBag.PregJugar.Enunciado</h2>
        </div></div>
        <div class="container">
        <form method="post" action='@Url.Action("VerificarRespuesta")' class="opciones">
            @foreach(Respuesta rep in Juego.ObtenerProximasRespuestas(@ViewBag.PregJugar.IdPregunta)){
                <div class = "option">
                <input value="@rep.IdRespuesta" type="radio" name="flexRadioDefault">
                <label for="flexRadioDefault1">@rep.Contenido </label></div>
            
            }
        <input class="btn btn-dark" type="submit">
        </form>
        </div>
    </div>
    </div>
    </div>
</body>
</html>
