@{
    string mensaje="";//aclaracion="";
    if(ViewBag.esCorrecta == true){
        mensaje="CORRECTA";
    }
    else{
        mensaje="INCORRECTA";
        //aclaracion = $"Respuesta Correcta {Juego.ListRespuestas[ViewBag.PregJugar.IdRespuesta]}!";
    }
    Console.WriteLine("A ver: " + ViewBag.esCorrecta);
}
@if(mensaje == "CORRECTA"){
    <div class="Respuesta">
        <div class="Correcta">
            <h1>@mensaje</h1>
            <a href='@Url.Action("Jugar")'class="btn btn-dark">VOLVER A JUGAR</a>
        </div>
    </div>
}
else{
    <div class="Respuesta">
        <div class="Incorrecta">
            <h1>@mensaje</h1>
            <h3 class = "text-white">¡La respuesta correcta era @TempData["RespCorrecta"]!</h3>
            <a href='@Url.Action("Jugar")'class="btn btn-dark">VOLVER A JUGAR</a>
        </div>
    </div>
}
<audio id="sonidoVictoria" src="~/sounds/victoria.mp3"></audio>
<audio id="sonidoDerrota" src="~/sounds/derrota.mp3"></audio>

<script>
   document.addEventListener("DOMContentLoaded", function() {
        var mensaje = "@mensaje";
        
        // Verificar si el audio está listo
        var victoria = document.getElementById("sonidoVictoria");
        var derrota = document.getElementById("sonidoDerrota");

        if (mensaje === "CORRECTA") {
            victoria.play().catch(function(error) {
                console.log("Error al reproducir victoria:", error);
            });
        } else if (mensaje === "INCORRECTA") {
            derrota.play().catch(function(error) {
                console.log("Error al reproducir derrota:", error);
            });
        }
    });
</script>
